fastapi==0.128.8
uvicorn[standard]==0.39.0
python-multipart==0.0.20
PyPDF2==3.0.1
httpx==0.28.1
python-dotenv==1.2.1
sqlalchemy==2.0.46
pymysql==1.1.2
bcrypt==4.3.0
pyzipper==0.3.6
pytesseract==0.3.13
pdf2image==1.17.0
easyocr==1.7.2
paddleocr==3.4.0
paddlepaddle==3.1.1
pypdfium2==5.5.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
